venv/
venv2/
__pycache__/
*.pyc
.env
*.sqlite3
node_modules/
__MACOSX/
.DS_Store
.idea/
Datasets/
backend/logs/
frontend/.vite/
frontend/dist/
package-lock.json
frontend/package-lock.json
frontend/bun.lockb